{% extends 'layout.jinja2' %}

{% block content %}
<div class="formwrapper">
    <h2 class="title">Client Availabilities</h2>
    <ul id="client">
    {% for time in client %}
        <li>{{ time[0] }} - {{ time[1] }}</li>
    {% endfor %}
    </ul>

    <h2 class="title">Tutor Availabilities</h2>
    <ul id="tutors">
    {% for key, value in tutors.items() %}
        <h3>{{ key }}</h3>
        {% for x in value %}
            <li>{{ x[0] }} - {{ x[1] }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <form method="POST">
        {{ form.submit }}
    </form>
</div>
{% endblock %}